@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-inter);
  --font-mono: "monospace", monospace;
}

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  --accent: oklch(66.38% 0.1457 64.28);
  --accent-foreground: oklch(15% 0.0291 64.28);
  --background: oklch(97.02% 0 64.28);
  --border: oklch(90% 0 64.28);
  --danger: oklch(65.32% 0.2328 2.99);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0 64.28);
  --default-foreground: oklch(21.03% 0.0059 64.28);
  --field-background: oklch(100% 0 64.28);
  --field-border: transparent;
  --field-foreground: oklch(21.03% 0 64.28);
  --field-placeholder: oklch(55.17% 0 64.28);
  --focus: oklch(66.38% 0.1457 64.28);
  --foreground: oklch(21.03% 0 64.28);
  --muted: oklch(55.17% 0 64.28);
  --overlay: oklch(100% 0 64.28);
  --overlay-foreground: oklch(21.03% 0 64.28);
  --scrollbar: oklch(87.1% 0 64.28);
  --segment: oklch(100% 0 64.28);
  --segment-foreground: oklch(21.03% 0 64.28);
  --separator: oklch(92% 0 64.28);
  --success: oklch(73.29% 0.1935 128.06);
  --success-foreground: oklch(21.03% 0.0059 128.06);
  --surface: oklch(100% 0 64.28);
  --surface-foreground: oklch(21.03% 0 64.28);
  --surface-secondary: oklch(95.24% 0 64.28);
  --surface-secondary-foreground: oklch(21.03% 0 64.28);
  --surface-tertiary: oklch(93.73% 0 64.28);
  --surface-tertiary-foreground: oklch(21.03% 0 64.28);
  --warning: oklch(78.19% 0.1585 49.58);
  --warning-foreground: oklch(21.03% 0.0059 49.58);
  --radius: 0.5rem;
  --field-radius: 0.75rem;
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  --accent: oklch(66.38% 0.1457 64.28);
  --accent-foreground: oklch(15% 0.0291 64.28);
  --background: oklch(12% 0 64.28);
  --border: oklch(28% 0 64.28);
  --danger: oklch(59.4% 0.1967 1.88);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0 64.28);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0 64.28);
  --field-border: transparent;
  --field-foreground: oklch(99.11% 0 64.28);
  --field-placeholder: oklch(70.5% 0 64.28);
  --focus: oklch(66.38% 0.1457 64.28);
  --foreground: oklch(99.11% 0 0);
  --muted: oklch(70.5% 0 64.28);
  --overlay: oklch(21.03% 0 64.28);
  --overlay-foreground: oklch(99.11% 0 0);
  --scrollbar: oklch(70.5% 0 64.28);
  --segment: oklch(39.64% 0 64.28);
  --segment-foreground: oklch(99.11% 0 0);
  --separator: oklch(25% 0 64.28);
  --success: oklch(73.29% 0.1935 128.06);
  --success-foreground: oklch(21.03% 0.0059 128.06);
  --surface: oklch(21.03% 0 64.28);
  --surface-foreground: oklch(99.11% 0 0);
  --surface-secondary: oklch(25.7% 0 64.28);
  --surface-secondary-foreground: oklch(99.11% 0 0);
  --surface-tertiary: oklch(27.21% 0 64.28);
  --surface-tertiary-foreground: oklch(99.11% 0 0);
  --warning: oklch(82.03% 0.1388 53.59);
  --warning-foreground: oklch(21.03% 0.0059 53.59);
}
